/* css reset */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: inherit; */
}

h1,
h2,
h3,
h4,
p
{
  margin-left: auto;
  margin-right: auto;
}

body{
  overflow-x: hidden;
}
/* .container{
  /* flex-wrap: wrap; */
  /* margin-bottom: 3rem; 
} */

h3,h4{
  margin-left: 0;
  margin-right: 0;
}
.Plan--wrapper h3,
.Plan--wrapper h4{
  display: flex;
  justify-content: center;
}
