.container {
  justify-content: space-between;
  margin-top: 1.5rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}

header{
max-width: 100%;
height: 3.75rem;

}

.logo {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

.sidebar {
  padding: 1rem;
  width: 50%;
  background-color: rgb(11, 46, 54);
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  display: none;
}

.sidebar.active {
  display: block;
}

nav a {
  display: flex;
  flex-direction: column;
  margin: 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
nav a:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 4px;
}

nav svg {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  padding: 1px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

/* body part */
.banner {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.banner img {
  max-width: 100%;
}

h1 {
  margin-top: 2rem;
  font-weight: 500;
  margin-bottom: 0.55rem;
}

 p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #4F5665;
  margin-left: 0;
  margin-right: 0;
}

button{
  padding: 1.2rem 4rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: #f54747;
  color: white;
  border: none;
  border-radius: 0.99rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  

}
button:hover{
  box-shadow: 0px 20px 10px 20px rgba(227, 26, 26, 0.4);
}

.user--number{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 1rem;
  
  
}

.user--number .group{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

}

.group img{
  transform: scale(1.5);
  padding: 0.5rem;
}

.group span{
  font-size: 2.5rem;
  font-weight: bold;
}

/* feature container */

.feature{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature--text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
}

.feature--ul{
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color:#4F5665 ;
}

/* choose plan */
.choose--plan{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap:.5rem;
}

h2{
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color:#0B132A ;
}

.choose--plan p{
   margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4F5665;
}

/* package */

.package{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 4rem;
  
}

.Plan--wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carousel{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
 
}



.parent--carousel{
   border: 2px solid #FEA250;
  padding: 1rem;
}

.top-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;

}
.photo--address{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.photo--address img{
  width: 10rem;
  border-radius: 1rem;
}
.tek{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer--gap{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}




/* tablet 768px and above */
@media (min-width: 768px) {
  
  .container {
   max-width: 768px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .banner{
    padding: 2rem 10rem;
  }

  .user--number{
    padding: 0 10rem;
    margin: 0;
    flex-wrap: nowrap;
  }

  header nav {
    margin-top: 2rem;
  }
  nav svg {
    margin-right: 1.5rem;
  }

  .feature--ul{
    display: flex;
    justify-content: flex-start;
    gap: 0;
    margin: 0;
  }
     
  h2{
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color:#0B132A ;
  margin-top: 2rem;
}

.carousel{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tek{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}



/* small laptop 1024 and above */

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    overflow-x: hidden;
    margin-top: 2rem;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
.container svg {
    display: none;
  }

  header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* background-color: blue; */
  }

.sidebar{
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;

  background-color: transparent;

}
.sidebar ul {
  display: flex;
  flex-direction: row;
}

nav .button {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.link a{
  color: black;
}

.button a{
    border-radius: 1rem;
    border: 1px solid #F53855;
    color: #F53855;
    background-color: white;
    font-family:"Rubik";
}

  .banner {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .user--number{
  display: flex;
  flex-direction: row;
  padding: 67px 90px;
  gap: 15rem;
  margin-top: 100px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.30);
}

.user--number .span1{
  font-weight: 500;
  font-size: 1.5rem;
  color: #0B132A;
}

/* feature container */
.feature{
  width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    transform: scale(1.1);
}

.feature--text h2{
  font-size: 2rem;
  line-height: 2rem;
}

.feature--text p{
  font-size: 1.5rem;
}

.feature--ul .span{
  font-size: 6rem;
}

/* choose plan */
.choose--plan{
  margin-top: 7rem;
}

.choose--plan h2{
  font-size: 2.5rem;
  
}

.choose--plan p{
   margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4F5665;
}

.package{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.package .Plan--wrapper{
  border: 1px solid black;
  padding: 2rem 4rem;
}

.carousel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tek{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}



/* medium laptops 1280 and above */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    overflow-x: hidden;
  }

  header nav {
    margin-top: 3rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    /* width: 100%; */
    overflow-x: hidden;
  }

  header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
  }

  header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


  }

  .sidebar{
    padding-left: 14rem;
    display: flex;
    background-color: transparent;
}

.sidebar .button a{
  padding: 1rem 2.5rem;
}
.banner{
display: flex;
flex-direction: row-reverse;
padding: 0;
}

.feature{
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container.feature {
  display: flex !important;
  flex-direction: row;
}


  .carousel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tek{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

}
